<% if logged_in?%>
<script type="text/javascript">
  window.currentUser = <%= render(partial: "api/users/user.json.jbuilder", locals: {user: current_user}).html_safe %>
</script>
<% end %>


<div id="root">React is not working!</div>