.dropdown {
	position: absolute;
	/* leave positioning (i.e. top, left, etc.) to the more specific classes (such as .list-actions) */

	width: max-content;
	background-color: var(--off-white);
	color: black;

	border-radius: 2px;
	border: 1px solid transparent;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);

	z-index: 9999;
}

.dropdown-option {
  width: 100%;
}

.dropdown-link {
  display: flex;
  justify-content: space-between;

  width: 100%;  
	padding: 5px 12px 5px 10px;
	min-height: 20px;
	border-radius: 0px;
  
  font-size: 12px;
}

.dropdown-link:hover {
	background-color: var(--hover-highlight-blue);
}

.add-property-dropdown {
  width: 150px;
  /* left: 0;
  top: 100%; */
}

.add-property-buttons {
  display: flex;
  margin-block: 5px;
  margin-left: 5px;
}

.add-property-button {
  border: none;
  background-color: transparent;
  width: var(--add-property-button-width);
  height: var(--add-property-button-height);
  margin-right: 4px;

  color:rgb(100, 100, 100);
  position: relative;
  font-size: 16px;

}


/* change color of icons on hover */
.add-property-button:hover {
  color:rgb(0, 0, 0);
}


/* tooltip pop-up on hover */
.add-property-button:hover:before {
  content: attr(data-hover-label);
  white-space: pre;

  color: white;

  position: absolute;
  top: calc(var(--add-property-button-height) + 4px);
  left: calc(var(--add-property-button-width) / 2 - 28px);
  background-color: rgb(50, 50, 50);

  width: 50px;
  padding-inline: 3px;
  padding-block: 4px;
  border-radius: 4px;

  font-size: 12px;

  z-index: 100;
}

/* arrow for tooltip */
.add-property-button:hover:after {
  content: "";
  position: absolute;
  top: calc(var(--add-property-button-height) - var(--tooltip-arrow-height));
  left: calc(var(--add-property-button-width) / 2);
  transform:translateX(-50%);

  border: var(--tooltip-arrow-height) solid black;
  border-color: transparent transparent rgb(50, 50, 50) transparent;

}

