.dropdown {
	position: absolute;
	/* leave positioning (i.e. top, left, etc.) to the more specific classes (such as .list-actions) */

	width: max-content;
	background-color: var(--off-white);
	color: black;

	border-radius: 2px;
	border: 1px solid transparent;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);

	z-index: 9999;
}

.dropdown-option {
  width: 100%;
}

.dropdown-link {
  display: flex;
  justify-content: space-between;

  width: 100%;  
	padding: 5px 12px 5px 10px;
	min-height: 20px;
	border-radius: 0px;
  
  font-size: 12px;
}

.dropdown-link:hover {
	background-color: var(--hover-highlight-blue);
}

.button-dropdown-container {
  position: relative;
}

.add-property-buttons {
  display: flex;
}

.add-property-dropdown {
  width: 150px;
  left: 0;
  top: 100%;
}


