.lists-sidebar {
  margin-left: 15px;
  margin-right: 3px;
  width: 13vw;
  min-width: 100px;
  height: 100vh;
  font-size: 13px;
  position: relative;
}

.list-logo {
  width: 95%;
  margin-top: 5px;
}

.selected {
  font-weight: 700;
  color: var(--link-blue);
}

.list-link-container {
  position: relative;
  height: 100%;
  display: block;
}

.list-link {
  display: block;
  padding-left: 15px;
  padding-right: 7px;
  padding-block: 5px;
}

.list-link p {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-link:hover {
  background-color: var(--hover-highlight-blue);
}

.list-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;

  color: #7ab2e0;
  cursor: pointer;
}

.down-arrow-button {
  right: 3px;
}

.plus-button {
  /* right: 18px; */
  right: 3px;
}

.list-actions {
  top: 50%;
  transform: translateY(10%);
  right: 3px;
}

.lists-header:hover {
  /* //disable list-link hover above. */
  background-color: inherit;
}
