// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks-index {
  background-color: var(--off-white);
  border: 1px solid transparent;
  width: 42vw;
  font-size: 14px;
}

.complete-tabs {
  width: 184px;
  height: 28px;
  position: relative;
  left: calc(42vw - 184px);
  background-color: darkblue;
}

.tasks-index-row {
  border: 1px dotted var(--border-grey);
  min-height: 33px;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 0px;
}

.task-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-property-buttons {
  margin-block: 5px;
}

.add-property-button {
  border: none;
  background-color: transparent;
  width: 22px;
  height: 18px;
  margin-right: 4px;
}

.add-task-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-task-input {
  display: block;
  width: 100%;
  margin-bottom: 5px; 
  font-size: 14px;
  padding: 5px;
}

.add-task-input:focus {
  border-color: lightskyblue;
}

