.tasks-summary-pane {
  font-size: 18px;
  background-color: #e4eef8;
  width: calc(42vw);
  border-top-left-radius: 0px;

  position: relative;
  left: -5px;
  /* transform: translate(-20px); */
}

.tasks-summary-pane-contents {
  margin: 40px 30px;
}

.list-header {
  margin-bottom: 18px;
}

.tasks-summary {
  display: flex;
}

.summary-stat-container {
  background-color: #dbe8f6;
  margin-right: 4px;
}

.summary-stat-content {
  padding: 10px;
}

.summary-stat {
  font-weight: 700;
}

.summary-label {
  margin-top: 4px;
  font-size: .625em;
}

.task-count {
  color: #0060bf;
}

.overdue-task-count {
  color: #d74a00
}

.minutes {
  font-size: .75em;
}
