.tasks-index-pane {
  z-index: 10;
  /* width:50%; */
  width: 42%;
}

.scrollbar-container {
  overflow: auto;
  visibility: hidden;
  /* width: 42vw; */
  height: 100vh;
}

.tasks-index-row,
.scrollbar-container:hover,
.scrollbar-container:focus {
  visibility: visible;
}

.tasks-index {
  background-color: var(--off-white);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid transparent;

  font-size: 14px;
}

.tasks-index-row {
  border-top: 1px dotted var(--border-grey);
  border-bottom: 1px dotted var(--border-grey);
  min-height: 33px;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 0px;
}

.task-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}




.add-task-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-task-input {
  display: block;
  width: 100%;
  margin-bottom: 5px; 
  font-size: 14px;
  padding: 5px;
}

.due-date {
  font-size: 11px;
  width: 70px;
}

.instructions {
  font-weight: 700;
}

.complete-tabs {
  /* position: relative;
  left: calc(42vw - 184px); */
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 13px;
}

.complete-tab-link {
  /* box-sizing: content-box; */

  padding-inline: 5px;
  padding-top: 5px;
  vertical-align: top;
  color: var(--link-blue);
  height: 100%;
  border-radius: 0px;
}

.complete-tab-link.active {
  position: relative;
  top: 2px;
  z-index: 10;
  color: black;
  font-weight: 700;


  box-sizing: content-box;

  border: 1px dotted var(--border-grey);
  border-bottom: 4px solid white;
}

.completed {
  text-decoration: line-through;
  color: green
}