.task-details-pane {
  width: 42vw;
  height: 100vh;
  font-size: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--off-white);
  border-left: 2px solid lightgrey;
  /* background-color: #1b81e7; */
}

.task-details-table {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.estimate-label {
  position: absolute;
  bottom: 5px;
}

.three-digits {
  left: 170px;
}

.two-digits {
  left: 162px;
}

.one-digit {
  left: 154px;
}

.task-detail-edit-form {
  width: 100%;

}

.task-detail-edit-input {
  width: 75%;
  border: transparent;
  padding: 4px;
  cursor: pointer;

}

.task-detail-edit-input:focus {
  cursor: text;
}

.title-input {
  margin-block: 18px;
  margin-left: 3vw; 
  /* padding-left: 3vw;  */
  font-size: 24px;
  /* box-sizing: content-box; */
  width: 85%;
}

.property-name {
  padding-left: 5vw;
  padding-right: 5px;
  padding-block: 1px;
  width: 110px;
  
  color: #999;
  text-align: left;
}

.button-container {
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  justify-content: space-between;
}

.complete-button {
  background-color: #8fd9a8;
  border: transparent;
}

.delete-button {
  background-color: #be0000;
  color: rgb(231, 231, 231);
  /* border: 1px solid var(--button-grey); */
  border: transparent;
}

