.task-details-pane {
  position: absolute;
  top: 50px;
  right: 1.1vw;
  z-index: 3;

  transition: 0.5s;
  transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);


  /* width: calc(44vw - 33px); */
  width: 42.5vw;
  height: 100vh;
  font-size: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  background-color: var(--off-white);
  border-left: 2px solid lightgrey;
  z-index:10;
}

/* .offscreen {
  transition: 0.5s;
  transform: translate3d(125%, 0, 0);
  -webkit-transform: translate3d(125%, 0, 0);
} */

.task-details-table {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.task-detail-edit-form {
  width: 100%;
  padding-bottom: 5px;
}

.task-detail-edit-input {
  width: 75%;
  border: transparent;
  padding: 4px;
  cursor: pointer;
}

.task-detail-edit-input:focus {
  cursor: text;
}

.title-input {
  margin-block: 18px;
  margin-left: 3vw; 
  font-size: 24px;
  width: 85%;
  overflow: visible;
}

.property-name {
  padding-left: 5vw;
  padding-right: 5px;
  padding-block: 1px;
  width: 110px;
  
  color: #999;
  text-align: left;
}

.button-container {
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  justify-content: space-between;
}

.complete-button {
  background-color: #8fd9a8;
  border: transparent;
}

.delete-button {
  background-color: #be0000;
  color: rgb(231, 231, 231);
  /* border: 1px solid var(--button-grey); */
  border: transparent;
}

