:root {
  --button-blue: #2e8ceb;
  --button-off-white: #fbfbfa;
  --border-grey: #c7cacd;
  --input-grey: #b1b4b8;
  --button-ash: #444;
  --off-white: #fff;
  --hover-highlight-blue: #b7d6f1;
  --link-blue: #0060bf;
}

