nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  background-color: rgb(0, 96, 191);
  border-radius: 0px;
  color: white;
}

.greeting span {
  margin-right: 10px;
}