.task-details-pane {
  width: 42vw;
  height: 100vh;
  font-size: 13px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--off-white);
  border-left: 2px solid lightgrey;
}

.task-details-table {
  width: 100%;
  margin-bottom: 14px;
}

.task-detail-edit-form {
  width: 100%;
}

.task-detail-edit-input {
  width: 100%;
  border: transparent;
  padding: 4px;
}

.title-input {
  margin-block: 18px; 
  padding-left: 1.5vw; 
  font-size: 24px;

  width: 100%;
}

.property-name {
  padding-left: 3vw;
  padding-right: 5px;
  padding-block: 1px;
  width: 110px;
  
  color: #999;
  text-align: left;
}

